[submodule "Oppgave 3 - Sortering/Oppgave 3 - Sortering/sortering-ressursside"]
	path = Oppgave 3 - Sortering/Oppgave 3 - Sortering/sortering-ressursside
	url = https://github.uio.no/IN2010/sortering-ressursside
